events {

}

http {
	include /etc/nginx/mime.types;
	server{
		listen 443 ssl;

		ssl_certificate $CERTIFICATES_CRT;
		ssl_certificate_key $CERTIFICATES_KEY;
		ssl_protocols TLSv1.3;

		root /var/www/wordpress;
		server_name $DOMAIN;
		index index.php;

		location ~ \.php$ {
			include snippets/fastcgi-php.conf;
			fastcgi_pass wordpress:9000;
		}
	}
}